*{
	margin:0;
	padding:0;
}


@media (max-width: 320.99px) {

						body{

							min-height:4000px;
							max-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:0%;
							max-width:300px;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:100px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:100px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:40%;
							top:-90px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:12px;
							text-align:left;
							padding: 10px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}


						#avatar{
							position:relative;
							top:-300px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:300px;
							left:45%;
							top:250px;
							background:#1b98e0;
							color:white;
							width:100px;
							font-size:20px;
							z-index:3;
						}

						#form-afiliacao{
							position:relative;
							top:-350px;
						}


						#apresentacao{
							min-width:80%;
							position: relative;
							top:-450px;
							left:0%;
						}

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:16px;
						}

						#carroussel{
							position:relative;
							top:-450px;
							left: 0%;
							max-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:15%;
							top:-380px;
							white-space: nowrap;
							text-align: center;


						}

						.topico{
							position: relative;
							top:-350px;
							left:5%;
							max-width:295px;
							font-size:20px;
							margin-bottom: 50px;



							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}


}				



/*******************************************************************/
@media (min-width:321px) and (max-width: 375.99px) {

					body{

							min-height:4000px;
							min-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:0%;
							max-width:350px;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:120px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:120px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:40%;
							top:-80px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:12px;
							text-align:left;
							padding: 10px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}


						#avatar{
							position:relative;
							top:-300px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:300px;
							left:45%;
							top:250px;
							background:#1b98e0;
							color:white;
							width:100px;
							font-size:20px;
							z-index:3;
						}

						#form-afiliacao{
							position:relative;
							top:-350px;
						}


						#apresentacao{
							min-width:80%;
							position: relative;
							top:-450px;
							left:0%;
						}

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-450px;
							left: 0%;
							min-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:20%;
							top:-390px;
							white-space: nowrap;
							text-align: center;


						}

						.topico{
							position: relative;
							top:-350px;
							left:10%;
							max-width:300px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}


}	










/*******************************************************************/
@media (min-width:376px) and (max-width: 575.99px) {

					body{

							min-height:4000px;
							min-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:-5%;
							max-width:500px;
							border: 1px solid green;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:140px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:140px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:30%;
							top:-80px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:16px;
							text-align:left;
							padding:20px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:16px;
						text-align:left;
					padding:20px;


						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:16px;
						text-align:left;
						padding:20px;

						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:16px;
						text-align:left;
						padding:20px;


						}


						#avatar{
							position:relative;
							top:-300px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:300px;
							left:45%;
							top:250px;
							background:#1b98e0;
							color:white;
							width:100px;
							font-size:20px;
							z-index:3;
						}

						#form-afiliacao{
							position:relative;
							top:-350px;
						}


						#apresentacao{
							min-width:80%;
							position: relative;
							top:-450px;
							left:0%;
						}

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-450px;
							left: 0%;
							min-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:20%;
							top:-380px;
							white-space: nowrap;
							text-align: center;


						}

						.topico{
							position: relative;
							top:-350px;
							left:5%;
							max-width:410px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}


}	







@media (min-width:576px) and ( max-width:768.99px){


					body{

							min-height:4000px;
							min-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:-5%;
							max-width:960px;
							border: 1px solid purple;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:220px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:220px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:50%;
							top:-160px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:18px;
							text-align:left;
							padding: 20px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}


						#avatar{
							position:relative;
							top:-500px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:400px;
							left:50%;
							background:#1b98e0;
							color:white;
							width:200px;
							font-size:28px;
							z-index:3;
						}

						.texto{
							position: relative;
							left:5%;
							max-width:80%;
						}

						


						#apresentacao{
							min-width:50%;
							position: relative;
							top:-700px;
							left:2%;
						}

						#header-apresentacao-2{
							position: relative;
							left:0%;
							white-space: nowrap;
							min-width:40%;
							margin-bottom:50px;
							font-size:20px;
						}

						

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-650px;
							left: 0%;
							min-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:15%;
							top:-580px;
							white-space: nowrap;
							text-align: center;

						}


						#header-conteudo, h6{
							font-size:40px;
						}

						.topico{
							position: relative;
							top:-550px;
							left:5%;
							max-width:700px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}

}


@media (min-width: 769.01px) and (max-width:1024.99px){

					body{

							min-height:4000px;
							min-width:320px;


						}


						#banner{
							visibility: visible;
							position: absolute;
							top:-5%;
						}

						#banner-mobile{
							visibility: hidden;
							position: relative;
							left:-5%;
							max-width:1080px;
							border: 1px solid yellow;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:150px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:150px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:50%;
							top:-160px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:18px;
							text-align:left;
							padding: 20px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}


						#avatar{
							position:relative;
							top:-450px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:350px;
							left:50%;
							background:#1b98e0;
							color:white;
							width:200px;
							font-size:28px;
							z-index:3;
						}

						.texto{
							position: relative;
							left:5%;
							max-width:80%;
						}

						


						#apresentacao{
							min-width:50%;
							position: relative;
							top:-900px;
							left:5%;
						}



						#header-apresentacao-1{
							position: relative;
							left:-10%;
							white-space: nowrap;
							min-width:100%;
							font-size:40px;
						}

						#header-apresentacao-2{
							position: relative;
							left:0%;
							white-space: nowrap;
							min-width:40%;
							margin-bottom:50px;
							font-size:26px;
						}

						

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-850px;
							left: 0%;
							min-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:20%;
							top:-780px;
							white-space: nowrap;
							text-align: center;

						}


						#header-conteudo, h6{
							font-size:40px;
						}

						.topico{
							position: relative;
							top:-750px;
							left:5%;
							max-width:900px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}


}



@media (min-width: 1025px) and (max-width: 1440px) {

	body{

							min-height:4000px;
							max-width:1080px;


						}


						#banner{
							visibility: hidden;
							position: absolute;
							top:-7%;
							border: 1px solid black;
							padding:0;
							margin-bottom:0;



						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:50%;
							max-width:780px;
							border: 1px solid yellow;
							display:inline;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:100%;
							top:220px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#menu-hamburguer-up{
							position:absolute;
							left:100%;
							top:220px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:50%;
							top:50px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:18px;
							text-align:left;
							padding: 20px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}


						#avatar{
							position:relative;
							top:-600px;
							z-index:1;
							min-width:1400px;
						}
						#btn-afiliacao{
							position:absolute;
							top:350px;
							left:60%;
							background:#1b98e0;
							color:white;
							width:200px;
							font-size:28px;
							z-index:3;
						}

						.texto{
							position: relative;
							left:15%;
							max-width:70%;
						}

						


						#apresentacao{
							max-width:50%;
							position: relative;
							top:-1000px;
							left:5%;
							border:  1px solid red;
						}



						#header-apresentacao-1{
							position: relative;
							left:-5%;
							white-space: nowrap;
							min-width:100%;
							font-size:40px;
						}

						#header-apresentacao-2{
							position: relative;
							left:10%;
							min-width:40%;
							margin-bottom:50px;
							font-size:26px;
						}



						

						

						


						

						main{

							position: relative;
							top: -780px;
							left: 60%;
							max-width:50%;
							
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-1620px;
							left: 60%;
							max-width:50%;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:0%;
							top:-780px;
							white-space: nowrap;
							text-align: center;

						}


						#header-conteudo, h6{
							font-size:40px;
						}

						.topico{
							position: relative;
							top:-750px;
							left:5%;
							max-width:900px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}



}
