*{
	margin:0;
	padding:0;
}


@media (max-width: 320.99px) {

						body{

							min-height:4000px;
							max-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:0%;
							max-width:300px;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:100px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:100px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:40%;
							top:-90px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:12px;
							text-align:left;
							padding: 10px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}


						#avatar{
							position:relative;
							top:-300px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:300px;
							left:45%;
							top:250px;
							background:#1b98e0;
							color:white;
							width:100px;
							font-size:20px;
							z-index:3;
						}

						#form-afiliacao{
							position:relative;
							top:-350px;
						}


						#apresentacao{
							min-width:80%;
							position: relative;
							top:-450px;
							left:0%;
						}

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:16px;
						}

						#carroussel{
							position:relative;
							top:-450px;
							left: 0%;
							max-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:15%;
							top:-380px;
							white-space: nowrap;
							text-align: center;


						}

						.topico{
							position: relative;
							top:-350px;
							left:5%;
							max-width:295px;
							font-size:20px;
							margin-bottom: 50px;



							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}


}				



/*******************************************************************/
@media (min-width:321px) and (max-width: 375.99px) {

					body{

							min-height:4000px;
							min-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:0%;
							max-width:350px;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:120px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:120px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:40%;
							top:-80px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:12px;
							text-align:left;
							padding: 10px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:12px;
						text-align:left;
						padding: 10px;

						}


						#avatar{
							position:relative;
							top:-300px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:300px;
							left:45%;
							top:250px;
							background:#1b98e0;
							color:white;
							width:100px;
							font-size:20px;
							z-index:3;
						}

						#form-afiliacao{
							position:relative;
							top:-350px;
						}


						#apresentacao{
							min-width:80%;
							position: relative;
							top:-450px;
							left:0%;
						}

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-450px;
							left: 0%;
							min-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:20%;
							top:-390px;
							white-space: nowrap;
							text-align: center;


						}

						.topico{
							position: relative;
							top:-350px;
							left:10%;
							max-width:300px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}


}	










/*******************************************************************/
@media (min-width:376px) and (max-width: 575.99px) {

					body{

							min-height:4000px;
							min-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:-5%;
							max-width:500px;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:140px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:140px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:30%;
							top:-80px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:16px;
							text-align:left;
							padding:20px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:16px;
						text-align:left;
					padding:20px;


						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:16px;
						text-align:left;
						padding:20px;

						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:16px;
						text-align:left;
						padding:20px;


						}


						#avatar{
							position:relative;
							top:-300px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:300px;
							left:45%;
							top:250px;
							background:#1b98e0;
							color:white;
							width:100px;
							font-size:20px;
							z-index:3;
						}

						#form-afiliacao{
							position:relative;
							top:-350px;
						}


						#apresentacao{
							min-width:80%;
							position: relative;
							top:-450px;
							left:0%;
						}

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-450px;
							left: 0%;
							min-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:20%;
							top:-380px;
							white-space: nowrap;
							text-align: center;


						}

						.topico{
							position: relative;
							top:-350px;
							left:5%;
							max-width:410px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}


}	







@media (min-width:576px) and ( max-width:768.99px){


					body{

							min-height:4000px;
							min-width:320px;


						}


						#banner{
							visibility: hidden;
						}

						#banner-mobile{
							visibility: visible;
							position: relative;
							left:-5%;
							max-width:960px;
							border: 1px solid purple;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:5%;
							top:220px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;
						}

						#menu-hamburguer-up{
							position:absolute;
							left:5%;
							top:220px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:50%;
							top:-160px;
							padding-left:0;
							z-index:3;
							max-width:80%;
							font-size:30px;
						}


						#avatar-desktop{
							visibility:hidden;
						}

						

						
						#btn-entidades{
							text-dark
							text-align: center;
							display: block;
							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:18px;
							text-align:left;
							padding: 20px;
							
						}

						#btn-convenios{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}

						#btn-nossas-acoes{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;
						}

						#btn-fale-conosco{
							text-align: center;
							display: block;
							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 20px;

						}


						#avatar{
							position:relative;
							top:-500px;
							z-index:1;
							min-width:300px;
						}
						#btn-afiliacao{
							position:absolute;
							top:400px;
							left:50%;
							background:#1b98e0;
							color:white;
							width:200px;
							font-size:28px;
							z-index:3;
						}

						.texto{
							position: relative;
							left:5%;
							max-width:80%;
						}

						


						#apresentacao{
							min-width:50%;
							position: relative;
							top:-700px;
							left:2%;
						}

						#header-apresentacao-2{
							position: relative;
							left:0%;
							white-space: nowrap;
							min-width:40%;
							margin-bottom:50px;
							font-size:20px;
						}

						

						

						


						

						main{
							padding-bottom:50px;
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:0%;
							top:0px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:relative;
							top:-650px;
							left: 0%;
							min-width:320px;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:relative;
							left:15%;
							top:-580px;
							white-space: nowrap;
							text-align: center;

						}


						#header-conteudo, h6{
							font-size:40px;
						}

						.topico{
							position: relative;
							top:-550px;
							left:5%;
							max-width:700px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}

}


@media (min-width: 769.01px) and (max-width:1079.99px){

	                    body{

							min-height:4000px;
							max-width:400px;


						}


						#banner{
							visibility: visible;
							position: absolute;
							top:-7%;
							border: 1px dotted black;
							padding:0;
							margin-bottom:0;
							max-width:80%;
							left:20%;



						}

						#banner-mobile{
							visibility: hidden;
							position: relative;
							left:50%;
							max-width:780px;
							border: 1px solid red;
							display:inline;
						}

						#menu-hamburguer-down{
							position:absolute;
							left:90%;
							top:100px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#menu-hamburguer-up{
							position:absolute;
							left:90%;
							top:100px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;


						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:50%;
							top:20px;
							padding-left:0;
							z-index:3;
							min-width:750px;
							font-size:30px;
                            border: 1px solid red;
						}








						#btn-entidades{
							text-dark
							text-align: center;

							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:14px;
							text-align:left;
							padding: 10px;

							display:inline;

						}

						#btn-convenios{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:14px;
						text-align:left;
						padding: 10px;

                        display:inline;

						}

						#btn-nossas-acoes{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:14px;
						text-align:left;
						padding: 10px;

						display:inline;





					}

						#btn-fale-conosco{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:14px;
						text-align:left;
						padding: 10px;

                        display:inline;


						}


						#avatar{
							visibility: hidden;

						}

						#avatar-2{
						    visibility: visible;
							position:relative;
							top:-450px;
							z-index:1;
							min-width:1080px;
						}



						#btn-afiliacao{
							position:absolute;
							top:330px;
							left:600px;
							background:#1b98e0;
							color:white;
							width:200px;
							font-size:28px;
							z-index:3;
						}

						.texto{
							position: relative;
							left:2%;
							max-width:85%;
							top:-20px;
						}




						#apresentacao{
							max-width:700px;
							position: relative;
							top:-450px;
							left:5%;
							border:  1px solid black;
							border-radius:10%;
							display:flex;
						}



						#header-apresentacao-1{
							position: relative;
							left:-15%;
							white-space: nowrap;
							min-width:100%;
							font-size:40px;
						}

						#header-apresentacao-2{
							position: relative;
							left:0%;
							min-width:45%;
							margin-bottom:50px;
							font-size:16px;
						}












						main{

							position:absolute;
							top: 1350px;
							left: 0%;
							max-width:50%;

						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;



						}



						#header-carroussel{
							position:relative;
							left:50%;
							top:-30px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:absolute;
							top:650px;
							left:200px;
						    min-width:700px;
							display:flex;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:absolute;
							left:60%;
							top:0px;
							white-space: nowrap;
							text-align: center;


						}


						#header-conteudo, h6{
							font-size:40px;
						}

						.topico{
							position: relative;
							top:100px;
							left:20%;
							min-width:1080px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);


						}

						footer{
							position: absolute;
							top:2200px;
							left:0%;
							font-size:14px;
							text-align: center;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}




}



@media (min-width: 1080px) and (max-width: 1440px) {

	                    body{

							min-height:4000px;
							max-width:400px;


						}


						#banner{
							visibility: visible;
							position: absolute;
							top:-5%;
							padding:0;
							margin-bottom:0;
							max-width:80%;
							left:20%;



						}

						#banner-mobile{
							visibility: hidden;
							position: relative;
							left:50%;
							max-width:780px;
							border: 1px solid red;
							display:inline;
						}

						#menu-hamburguer-down{
							position:absolute;
							right:50px;
							top:200px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#menu-hamburguer-up{
							position:absolute;
							right:50px;
							top:200px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;


						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:90%;
							top:70px;
							padding-left:0;
							z-index:3;
							min-width:850px;
							font-size:30px;
                          
						}





						

						
						#btn-entidades{
							text-dark
							text-align: center;

							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:18px;
							text-align:left;
							padding: 10px;

							display:inline;
							
						}

						#btn-convenios{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 10px;

                        display:inline;

						}

						#btn-nossas-acoes{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 10px;

						display:inline;





					}

						#btn-fale-conosco{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 10px;

                        display:inline;


						}


						#avatar{
							visibility: hidden;

						}

						#avatar-2{
						    visibility: visible;
							position:absolute;
							top:20px;
							left:0;
							z-index:1;
							min-width:1550px;

						}



						#btn-afiliacao{
							position:absolute;
							top:400px;
							left:880px;
							background:#1b98e0;
							color:white;
							width:200px;
							font-size:28px;
							z-index:3;
						}

						.texto{
							position: relative;
							left:2%;
							max-width:85%;
							top:-20px;
						}

						


						#apresentacao{
							max-width:700px;
							position: relative;
							top:220px;
							left:5%;
							border:  1px solid black;
							border-radius:10%;
							display:flex;
						}



						#header-apresentacao-1{
							position: relative;
							left:-15%;
							white-space: nowrap;
							min-width:100%;
							font-size:40px;
						}

						#header-apresentacao-2{
							position: relative;
							left:0%;
							min-width:45%;
							margin-bottom:50px;
							font-size:16px;
						}



						

						

						


						

						main{

							position:absolute;
							top: 1450px;
							left: 0%;
							max-width:50%;
							
						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;
							

							
						}



						#header-carroussel{
							position:relative;
							left:50%;
							top:-50px;
							white-space: nowrap;
							text-align: center;
							font-size:20px;
						}

						#carroussel{
							position:absolute;
							top:780px;
							left:200px;
						    min-width:700px;
							display:flex;

						}

						.carousel{
							border: 1px solid white;
							border-radius:100%;
						}

						#header-conteudo{
							position:absolute;
							left:60%;
							top:0px;
							white-space: nowrap;
							text-align: center;


						}


						#header-conteudo, h6{
							font-size:40px;
						}

						.topico{
							position: relative;
							top:100px;
							left:20%;
							min-width:1080px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);

							
						}

						footer{
							position: absolute;
							top:3500px;
							left:480px;
							font-size:14px;
							text-align: center;
							width:1400px;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}



}

@media (min-width: 1440.99px) {


	                    body{

							min-height:4000px;
							max-width:400px;


						}


						#banner{
							visibility: visible;
							position: absolute;
							top:-5%;
							border: 1px solid black;
							padding:0;
							margin-bottom:0;
							max-width:80%;
							left:10%;



						}

						#banner-mobile{
							visibility: hidden;
							position: relative;
							left:50%;
							max-width:780px;
							border: 1px solid red;
							display:inline;
						}

						#menu-hamburguer-down{
							position:absolute;
							right:50px;
							top:200px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;

						}

						#menu-hamburguer-up{
							position:absolute;
							right:50px;
							top:200px;
							font-size:36px;
							border-radius:10%;
							width:50px;
							height:50px;
							z-index:3;
							background:#1b98e0;
							color: white;


						}

						#bars{
							position: relative;
							top:-37%;
							left:-8px;
						}

						#nav-bar{
							position:relative;
							left:60%;
							top:70px;
							padding-left:0;
							z-index:3;
							min-width:850px;
							font-size:30px;
                            border: 1px solid red;
						}








						#btn-entidades{
							text-dark
							text-align: center;

							/* From https://css.glass */
							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);
							font-size:18px;
							text-align:left;
							padding: 10px;

							display:inline;

						}

						#btn-convenios{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 10px;

                        display:inline;

						}

						#btn-nossas-acoes{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 10px;

						display:inline;





					}

						#btn-fale-conosco{
							text-align: center;

							/* From https://css.glass */
					background: rgba(27, 152, 224, 0.28);
					border-radius: 16px;
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
					backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
					border: 1px solid rgba(27, 152, 224, 0.3);
					font-size:18px;
						text-align:left;
						padding: 10px;

                        display:inline;


						}


						#avatar{
							visibility: hidden;

						}

						#avatar-2{
						    visibility: visible;
							position:absolute;
							top:70px;
							left:0;
							z-index:1;
							min-width:2500px;

						}



						#btn-afiliacao{
							position:absolute;
							top:670px;
							left:1380px;
							background:#1b98e0;
							color:white;
							width:500px;
							font-size:60px;
							z-index:3;
						}

						.texto{
							position: relative;
							left:5%;
							max-width:85%;
							top:100px;
							font-size:40px;
						}




						#apresentacao{
							min-width:1050px;
							position: relative;
							top:700px;
							left:5%;
							border:  1px solid black;
							border-radius:10%;
							display:flex;
							padding:20px;
							height:1200px
						}



						#header-apresentacao-1{
							position: relative;
							left:-5%;
							top:30px;
							white-space: nowrap;
							min-width:100%;
							font-size:60px;
						}

						#header-apresentacao-2{
							position: relative;
							left:0%;
							top:70px;
							min-width:100%;
							margin-bottom:50px;
							font-size:30px;
						}












						main{

							position:absolute;
							top: 2500px;
							left: 0%;
							max-width:50%;

						}


						.container{
							width: 100%;
							background:#fffafa;
							position:relative;
							top:-200px;
							left:-5%;
							height:2000px;



						}



						#header-carroussel{
							position:relative;
							left:900px;
							top:-100px;
							white-space: nowrap;
							text-align: center;
							font-size:40px;
						}

						#carroussel{
							position:absolute;
							top:1400px;
							left:550px;
						    min-width:1800px;
							display:flex;
							border-radius:10%;

						}

						.carousel{
							border: 1px solid white;
							border-radius:10%;
						}

						.img-carroussel{
						border: 1px solid white;
						border-radius:10%;
						}

						#header-conteudo{
							position:absolute;
							left:60%;
							top:0px;
							white-space: nowrap;
							text-align: center;


						}


						#header-conteudo, h6{
							font-size:40px;
						}

						.topico{
							position: relative;
							top:100px;
							left:20%;
							min-width:1080px;
							font-size:20px;
							margin-bottom: 50px;


							background: rgba(27, 152, 224, 0.28);
							border-radius: 16px;
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(5px);
							-webkit-backdrop-filter: blur(5px);
							border: 1px solid rgba(27, 152, 224, 0.3);


						}

						footer{
							position: absolute;
							top:3500px;
							left:480px;
							font-size:14px;
							text-align: center;
							width:1400px;


						}

						#whats-footer{
							background-color:#34af23;
							border-radius:100%;
							font-size:14px;
							color:white;
						}

						#whats-number{
							font-size:12px;
						}



}
